/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

body {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

h5 {
  color: #00355F;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.event-avatar, .event-avatar img {
  width: 80px;
  height: 80px;
}

.event-avatar {
  display: block;
  margin: 0px auto;
}

.event-box {
  margin-bottom: 0px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.event-avatar {
  text-align: center;
}

.event-info {
  text-align: center;
  padding-left: 0px;
  padding-right: 5px;
}

.event-body {
  padding-left: 0px;
  padding-right: 5px;
}

.event-timestamp {
  display: inline-block;
  position: absolute;
  right: 5px;
  color: #777;
}

#navbar {
  color: #00355F;
}

#ghevents-events, #login-form, #navbar {
  /* Starts out invisible. */
  display: none;
}

